body {
    font-family: Roboto, Arial, sans-serif;
}

#filemanager {
    display: flex;
}

#filemanager .thumbnail img {
    max-width: 100%;
    height: 64px;
    user-select: none;
}

.file .filename {
    text-align: center;
    user-select: none;
}

#filemanager .file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86px;
    margin: 8px;
    padding: 6px;
    cursor: pointer;
}

#filemanager .file:hover {
    background-color: #0000000d;
}